
/* Navigation Bar  */

nav{
    height: 50px;
display: flex;
align-items: center;
font-family: roboto;
}
.right a{
    padding: 0 22px;
    text-decoration: none;
list-style: none;
color: white;
transition: .4s ease-in-out;
font-family: ubuntu;
}
.right a:hover{
text-decoration:underline;
color: rgb(236, 212, 236);
}
.right{
 position: absolute;
 right: 73px;
}
.left{
 position: absolute;
 left: 203px;
 cursor: pointer;
 top: 0;
}
.right button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: roboto;
    border: .4px solid rgb(240, 42, 75);
    padding: 0px 12px ;
    border-radius: 12px;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-family: ubuntu;
    font-size: 14px;
}
.right button:hover {
border: .4px solid transparent;
}
.logo a{
color: white;
text-decoration: none;
}

/* CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |
CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |
CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   |CSS OF ABOUT PAGE   | */
.abt-sec-0{
    background-attachment: fixed;
    background-repeat: no-repeat;
min-height: 100vh;

background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,1.9)), url('images/notepad-1130743_1920.jpg');
background-size: cover; 
}
.abt-sec-0 hr{
width: 100px;
height: 3px;
background-color: rgb(255, 255, 255);
border: none;
}
.abtgetToKnow{
text-align: center;
font-size:33px ;
}
.abt-aboveText{
padding: 13% 0 8% 0;
position: relative;
}
.abtfourChildParent{
display: flex;
justify-content: space-around;
height: 65vh;
animation-name: downtoUp;
animation-duration: 3s;
}
.abt-child{
display: flex;
flex-direction: column;
align-items:center;
width: 22%;
}
.abtfourChildParent img{
width: 80px;
border-radius: 50%;
opacity: 65%;
}
.abtskills {
text-align: center;
line-height: 1;
margin:12px 0 0 0;
font-size: 24px;
}
.abt-sec-0 p {
text-align:justify;
/* line-height: ; */
margin: 0;
font-family: sans-serif;
font-size: 16px;
font-weight: 540;
margin: 10px 0 0 0;
}

/* Our Service Page  | Our Service Page  */
.serv-Parent0{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-top: 230px;
    align-items: center;
}
.serv-Children{
    width: 22%;
    text-align: center;
    animation-name: downtoUp;
    animation-duration: 3s;
}
.serv-Children i{
    color: rgb(4, 112, 40);
    font-size: 40px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 9px;
}
.serv-Children p{
    font-size: 18px;
    font-family:open sans;
}
.serv-Children:hover{
    background: linear-gradient(to bottom, #000000, green);
}
.greenText{
    color: green;
}
.servText{
    position: relative;
    top: 110px;
}
.servText hr{
    background-color: green;
    border: none;
    height: 3px;
    width: 300px;
}
.servText h1{
  text-align: center;
}
@keyframes downtoUp {
    0%{
     position: relative;
     top: 200px;
    }  
    100%{
     position: relative;
     top: 0;
    }  
}

/* Responsive part service page  */
@media(max-width:800px){
.serv-Parent0 {
flex-direction: column;
padding-top: 0;
}
.serv-Children {
width: 100%;
margin-bottom: 30px;
}
.serv-Parent0 {
position: relative;
top: 200px;
}
}
/* Responsive part service page end  */

/* Portfolio page css */
.portText{
    position: relative;
    top: 110px;
    animation-name:downtoUp;
    animation-duration: 2s;

}
.portText h1{
  text-align: center;
}
.portText hr{
    background-color: rgb(207, 240, 25);
    border: none;
    height: 3px;
    width: 300px;
}
.port-Parent0{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-top: 230px;
    align-items: center;
}
.port-Children{
    width: 22%;
    text-align: center;
    animation-name: downtoUp;
    animation-duration: 3s;
}
.port-Children a{
 color: rgb(91, 108, 138);
 text-decoration: none;
 transition: .5s ease-in-out;
}
.port-Children img{
width: 70%;
height: 200px;
border-radius: 12px;
    transition: .4s ease-in-out;
    opacity: 80%;
}
.port-Children img:hover{
opacity: 94%;
width: 100%;
}
.portC2{
position: relative;
top: 40px;
}
.portC3{
position: relative;
top: 70px;
}
.portC4{
position: relative;
top: 100px;
}

.port-Children a:hover{
 color: rgb(35, 99, 209);
 text-decoration:underline;
}
@media(max-width:800px){
    .port-Parent0 {
    flex-direction: column;
    padding-top: 0;
    }
    .port-Children {
    width: 100%;
    margin-bottom: 30px;
    }
    .port-Children img{
        width: 60%;
    .port-Parent0 {
    position: relative;
    top: 200px;
    }
    }}
/* Portfolio page  css end here  */
/* Cheatsheet Page Css  */
.cheatText{
    position: relative;
    animation-name:downtoUp;
    animation-duration: 2s;
    top: 20px;
}
.cheatText h1{
  text-align: center;
}
.cheatText hr{
    background-color: rgb(15, 121, 124);
    border: none;
    height: 1px;
    width: 300px;
}
.cheat-Parent0{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-top: 230px;
    align-items: center;
}
.t-Children{
    width: 22%;
    text-align: center;
    animation-name: downtoUp;
    animation-duration: 3s;
}
.cheat-Children a{
 color: rgb(91, 108, 138);
 text-decoration: none;
 transition: .5s ease-in-out;
}
.cheat-Children i{
font-size: 40px;
color: green;
text-align: center;
display: block;
border: 1px solid green;
border-radius: 12px;
padding: 12px;
transition: .4s ease-in-out;
}
.cheat-Children i:hover{
    background: linear-gradient(to bottom, #000000, green);
border-color: rgb(5, 184, 5);
}



/* Cheatsheet Page Css Ended  */
/* Footer css */
footer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    font-family: ubuntu;
    font-size: 14px;
    color: white;
}
/* Footer css ended  */
/* Responsive part of Navbar and Homepage  */

@media(max-width:1025px){
    .left{
       left: 20px;
    }}
@media(max-width:800px){
    .right{
        display: none;
    }
.mobile .right{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    position: relative;
    right: 0;
    margin: 37px 0 0 0;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-in-out;
}
nav{
    transition: .4s ease-in-out;
}
.navHeight nav{
    height: 100vh;
    backdrop-filter: blur(14%);
    -webkit-backdrop-filter: blur(14%);
    background: linear-gradient(to top right, rgb(102, 8, 255) 0%, rgb(7, 7, 97) 50%,  rgb(241, 21, 194) 100%);
    animation-name: rightNav;
    animation-duration: .4s;
}
.hamB .right{
    opacity: 1;
    pointer-events: all;
}
.mobile .right a{
    padding: 7px 0;
    font-size: 19px;
}
.mobile .right p{
    font-size: 18px;
}
.mobile .leftText{
    width: 100%;
}
.mobile .secSection {
    grid-template-columns: repeat(1, 1fr);
}
.mobile #name, #dev, #desg {
    font-size: 28px;
    text-align: center;
}

.mobile .leftBtn{
    display: flex;
    justify-content: space-evenly;
}
.mobile .rightDP img {
    width: 60%;
    animation-name: dp;
    animation-duration: 1s;
}
.mobile .logo {
    top: -3px;
    left: 15px;
    z-index: 0;
}
.mobile .hamBurger {
    position: fixed;
    right: 15px;
    z-index: 9999999; /* You don't need to specify z-index twice */
}

.mobile .hamBurger .hChild {
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 30px;
    margin: 7px 0;
    display: block;
}
     /* * About page Responsive  */ 
     .mobile .abtfourChildParent{
        flex-direction: column;
        position: relative;
        height: initial;
        }
        .mobile .abt-child{
        width: 100%;
        margin-bottom: 50px;
        }
        .mobile .abt-child p{
        padding: 0 6px;
        font-size: 15px;
        }
        .mobile .abtgetToKnow {
        font-size: 23px;
        }
        .mobile .abtskills {
        font-size: 20px;
        }
        /* About page css ended  */
}

@keyframes rightNav {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
@keyframes dp {
    0%{
        height: 0;
        width: 0;
        position: relative;
        top: 400px;
    }
    100%{
        height: 100%;
        height: 100%;
        top: -400px;
    }
}
