
/* THIS CONTAINS STYLE OF ONLY HOMEPAGE CSS  */
body{
background-color: #000000;
/* background-color: #091B2A; */
color: white;
text-decoration: none;
}
body a{
text-decoration: none;
}
.index-SecSection0{
    display: flex;
    animation-duration: 2s;
    animation-name: leftToRight;
}
.indx-Sec-Child{
width: 50%;
}
.indx-Sec-Child img{
    width: 100%;
    transition: .5s ease-in-out;
    opacity: 60%;
}
.indx-Sec-Child img:hover{
opacity: 90%;
}
.down{
    padding: 20% 0 0 12%;
}
/* Right and Left div after Nav   */
.down button{
    padding: 6px 7px;
    margin: 0 30px 30px 0;
    border-radius: 7px;
}
.down button a{
    color: white;
    font-family: ubuntu;
    font-size: 19px;
    text-decoration: none;
}
.btn1{
    border: none;
    background-color: #00A3E8;
    color: black;
}
.frstBtn{
    color: black !important;
}
.btn2{
    border: 1px solid #237DA7;
    background-color: transparent;
}
.down h2{
    font-family:Rubik Iso;
    transition: 1s ease-in-out;
    height: 20px;
}
/* .links{
position: absolute;
bottom: 60px;
} */
.links i{
font-size: 18px;
padding: 10px 10px;
color: rgb(80, 64, 64);
transition: .4s ease-in-out;
border:1px solid ;
border-radius: 50%;
margin: 0 5px;
}
.links i:hover{
color: rgb(131, 111, 111);
}
.down p{
    font-family:ubuntu;
    font-weight: 599;
}


/* Hide the text initially */
#animated-heading {
    white-space: nowrap;
    /* overflow: auto; */
    border-right: 2px solid #000; /* Add a blinking cursor */
}

/* Add a blinking cursor animation */
@keyframes blink {
    0% {
        /* border-color: transparent; */
        color: royalblue;
    }
    50% {
        border-color: #000;
    }
    100% {
        border-color: transparent;
    }
}

.blinking-cursor {
    animation: blink 1s infinite;
}


/* Animation  */
@keyframes rightNav {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
@keyframes dp {
    0%{
        height: 0;
        width: 0;
        position: relative;
        top: 400px;
    }
    100%{
        height: 100%;
        height: 100%;
        top: -400px;
    }
}
@keyframes leftToRight {
    0%{
        position: relative;
        right: 1200px;
        opacity: 1%;
    }
    100%{
        position: relative;
        right: 0px;
        opacity: 100%;
    }
}



@media(max-width:800px){
    .indx-Sec-Child img {
        display: none;
    }
    .indx-Sec-Child {
        width: initial;
    }
    .links {
        bottom: 48px;
    }
    .down h1{
        FONT-SIZE: 25px;
    }
    .down h2 {
        font-size: 18px;
    }
    .links {
        top: 65%;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
        left: 0;
    }
    .links i {
        font-size: 14px;
    }
}